<div id="message-box" class="hidden">Waiting for messages...</div>

<script>
  const socket = io();
  const messageBox = document.getElementById("message-box");

  socket.on("kafka message", (msg) => {
    messageBox.textContent = msg;

    messageBox.classList.remove("hidden");
    messageBox.classList.add("show");

    //hide the message after 10 seconds
    setTimeout(() => {
      messageBox.classList.remove("show");
      messageBox.classList.add("hidden");
    }, 10000);
  });
</script>
