<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">SugarWize</div>
      <div class="menu">
        <a href="/users/login">Home</a>
        <a href="#" id="about-link">About</a>
        <span class="tooltip">
          Our app is designed to empower users in managing their dietary intake
          effectively. By logging meals, users can accurately track their blood
          sugar levels. The app intelligently analyzes this data, providing
          personalized recommendations on whether users need to increase or
          decrease their sugar intake. Additionally, it sends timely
          notifications to keep users informed about their health status,
          ensuring they never miss a beat. Join us on this journey to better
          health and wellness!
        </span>
        <a href="#">Profile</a>
      </div>
    </nav>
    <header>
      <h1>Login</h1>
    </header>
    <div class="container">
      <h2>Welcome Back</h2>
      <form action="/users/login" method="POST" class="login-form">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <button type="submit" class="login-button">Login</button>
      </form>

      <div class="signup-container">
        <p>Don't have an account?</p>
        <a href="/users/signup">
          <button class="signup-button">Sign Up</button>
        </a>
      </div>
    </div>
  </body>
</html>
