body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 24px;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form select,
form button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  transition: transform 0.2s;
  width: 250px; /* רוחב כרטיס */
  position: relative;
}

.card:hover {
  transform: scale(1.05); /* אפקט הגדלה כשמחזיקים על הכרטיס */
}

img {
  width: 100%;
  border-radius: 5px;
}

.chart-container {
  display: none; /* הגרף מוסתר כברירת מחדל */
  width: 100%;
  padding: 10px;
}

.table-container {
  width: 100%; /* כל אחד לוקח את כל הרוחב */
  padding: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
}
