<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1>Create a New Account</h1>
      <form action="/users/signup" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />

        <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <button type="submit">Sign Up</button>
      </form>

      <!-- כפתור לחזרה ל-Login -->
      <a href="/users/login">
        <div class="back-button">Back to Login</div>
      </a>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
